* {
    margin: 0;
    padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: purple;
    color: white;
}

.web_application{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
    align-content: center;
}

#application_name{
    text-align: center;
    font-style: italic;
    padding: 2%;
}



.form{
    border-style: solid;
    width: 45%;
}

.footer_details{
    font-size: smaller;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: purple;
    color: white;
}

#footer_1{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

#footer_2{
    flex: 1;
    list-style: none;
    font-size: smaller;
    text-align: center;
    line-height: 1%;
}

#footer_3{
    flex: 1;
    list-style: none;
    font-size: x-small;
    text-align: center;
    margin-right: 0;
    line-height: 1%;
}

.copyright{
    text-align: center;
    font-size: x-small;
    background-color: purple;
    color: white;
}