* {
    margin: 0;
    padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: rgb(1, 1, 90);
    color: white;
}

.web_application{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
    align-content: center;
}